
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  
  &-rows {
    display: flex;
    justify-content: center;
    text-align: center;
    // width: 950px; 
    
  }
  .project_name{
    align-self: center;
    display: block;

  }
  .simple_box{
    border: 1px solid gray;
    margin: 2px;
    display: inline-block;
    border-radius: 4px;
    padding-left: 10px; 
    padding-right: 10px; 
    margin-right: 10px;
    margin-top: 10px;

  }
  &-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: 10px solid gray; 
    border-radius: 5px;
    margin: 5px; 
  }
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
  }
  &-forms {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px; 
  }
}

.row {
  width: 19%; 
  padding: 5px;
  word-wrap: break-word; 
  border-left: .02em solid lightgrey; 
  border-right: .02em solid lightgrey;

}

.login-page {
  text-align: center;
  flex-direction: column;

  background-repeat: no repeat;
        background-size: cover;
        height: 100vh;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );}


.dashboard-page {
  text-align: center;
  justify-content: center;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: white;
  margin: 0px;
}

.movers {
  margin-right: 4px;
  padding-right: 4px;
}

.header{
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: white;
  z-index: 200;
  margin-bottom: 20px;
  &-info {
    display: flex;
    justify-content: center; 
  }

}

.task-status{
  display: flex;
  justify-content: space-between;
  font-size: 10px; 
  margin-left: 5px; 

}

.delete{
  // float: right; 
  padding-top: 1px;
  padding-block-end: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.float_left{
  float: left; 
  padding-top: 1px;
  padding-block-end: 1px;
  padding-left: 3px;
  padding-right: 3px;
}


.column_header {
  border-bottom: solid 0.2em #3c70ad;
  // display: inline;
  padding-bottom: 4px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.logo {
}


.login-container {
  background-color: rgba(255,255,255,0.9);
  padding: 40px 40px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 65px;
  box-shadow: 5px 10px #33cccc;
  flex-direction: column;
}

.small-logo{
  height: 80px;

}