
.taskbox {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height: 250px;
    width: 97%;
    // background: #fff;
    border-radius: 2px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    border: .04em solid lightgrey;
    margin: 7px; 
    word-wrap: break-word; 
    justify-content: space-between;

//   margin: 1rem;
}

.tasks{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(252,185,61,0.2) 0%, rgba(252,185,61,0.2) 21.7%, rgba(252,185,61,0.2) 31.8%, rgba(254,249,139,0.3) 91.2% );

}
.stories{
background-image: linear-gradient( 68.2deg,  rgba(7,200,129,0.4) 31.1%, rgba(7,200,129,0.2) 100.2% );
}

.projects{

    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(253,76,186,1) 0%, rgba(246,72,72,1) 90% );
}


.story_status {
    background-color: pink;
    align-self: flex-start;
  }

  .droppable {
    position: absolute;
    right: 0;
    top: 10;
    background-color: #9E9E9E;
    border-left: 1px dotted;
  }
  
  .draggable {
  }
  